

<mat-card class="example-card mat-elevation-z8" (click)="onCardClick(produit)"  >
    <mat-card-subtitle>{{ produit.marque }} </mat-card-subtitle>
    <mat-divider></mat-divider>
    <img mat-card-image [src]="produit.photo" style="height:150px;width:100%; display: block; margin-left: auto; margin-right: auto; margin-top: auto;margin-bottom: auto;" >
   
    <mat-divider></mat-divider>
    <mat-card-header>
      <mat-card-title>{{produit.libelle}} <br> </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p style="text-align: center;">{{ produit.categorie }}</p>
      <h5 style="text-align: center;" >{{ produit.prix }} €</h5>
    </mat-card-content>
    <mat-card-actions >
      <button mat-mini-fab *ngIf="userService.currentUser?.admin" (click)="onEditBtnClick(produit)" matTooltip="Modifier le produit" style="background-color: rgb(213, 227, 9);top: 20px;">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" *ngIf="userService.currentUser?.admin" (click)="onDeleteBtnClick(produit)" matTooltip="Supprimer le produit" style="left: 105px; top: 20px;">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>