<mat-toolbar  style=" background-color: rgb(91, 177, 171);">

    <img src="assets/img/HighTechLogo.png" alt="" style="height: 80%;"  routerLink="/accueil">

    <span class="example-spacer"></span>

  <button mat-button  [matMenuTriggerFor]="menuOrdinateur"  > <mat-icon>laptop</mat-icon> Ordinateurs</button>
  <button mat-button  [matMenuTriggerFor]="menutelephonies"> <mat-icon>stay_current_portrait</mat-icon>Téléphonies</button>
  <button mat-button  [matMenuTriggerFor]="menuStockage"> <mat-icon>save</mat-icon> Stockage</button>

    <span class="example-spacer"></span>
    <button mat-icon-button *ngIf="!loginService.isLoggedin()" matTooltip="Panier" routerLink="/panier"  >
      <mat-icon [matBadge]="panierService.quantite_total_panier()" [matBadgeHidden]="panierService.quantite_total_panier() < 1" matBadgeColor="warn">add_shopping_cart</mat-icon>
    </button>
    <nav>
     
        <button  mat-icon-button *ngIf="!loginService.isLoggedin()" matTooltip="Admin login" routerLink="/login"  >
            <mat-icon >perm_identity</mat-icon>
        </button>
        <button mat-button   *ngIf="loginService.isLoggedin()" style="border: 2px solid black;border-radius: 100px;"> <mat-icon >perm_identity</mat-icon>Admin</button>
        <button  mat-icon-button  *ngIf="loginService.isLoggedin()" (click)="loginService.logout()"  matTooltip="logout" routerLink="/accueil"    >
            <mat-icon style="color: rgb(205, 0, 0);" >exit_to_app</mat-icon>
        </button>
        

    </nav>
    
  </mat-toolbar>



<!--<mat-menu #menutelephonies="matMenu">
    <button mat-menu-item (click)="onCategoryClick('Smart Phone')">
      <mat-icon>smartphone</mat-icon>
      <span>Smart Phone</span>
    </button>
    <button mat-menu-item (click)="onCategoryClick('Tel Fixe')">
      <mat-icon>phone</mat-icon>
      <span>Tel fixe</span>
    </button>
    <button mat-menu-item (click)="onCategoryClick('Accessoires téléphone')">
      <mat-icon>watch</mat-icon>
      <span>Accesoires</span>
    </button>
  </mat-menu>-->


  <mat-menu #menutelephonies="matMenu">
    <button *ngFor="let category of categorieService.getSubcategories(5) | async" mat-menu-item (click)="onCategoryClick(category.name)">
      <mat-icon>{{category.icon}}</mat-icon>
      <span>{{category.name}}</span>
    </button>
  </mat-menu>


  <mat-menu #menuOrdinateur="matMenu">
    <button mat-menu-item (click)="onCategoryClick('PC Portable')">
      <mat-icon>laptop</mat-icon>
      <span>PC Portable</span>
    </button>
    <button mat-menu-item (click)="onCategoryClick('PC de Bureau')" >
      <mat-icon>tv</mat-icon>
      <span>PC Bureau</span>
    </button>
    <button mat-menu-item (click)="onCategoryClick('Accessoires ordinateurs')">
      <mat-icon>keyboard</mat-icon>
      <span>Accesoires</span>
    </button>
  </mat-menu>


  <mat-menu #menuStockage="matMenu">
    <button mat-menu-item (click)="onCategoryClick('Disque dur')">
      <mat-icon>sd_storage</mat-icon>
      <span>Disque dur</span>
    </button>
    <button mat-menu-item (click)="onCategoryClick('Clé USB')">
      <mat-icon>usb</mat-icon>
      <span>clé USB</span>
    </button>
    <button mat-menu-item (click)="onCategoryClick('Accessoires stockage')">
      <mat-icon>storage</mat-icon>
      <span>Accesoires</span>
    </button>
  </mat-menu>
