<mat-toolbar  style=" background-color: rgb(91, 177, 171);">

    <img src="assets/img/HighTechLogo.png" alt="" style="height: 80%;"  routerLink="/accueil" matTooltip="Omar & Mohamed Project">

    <span class="example-spacer"></span>

<span  *ngFor="let category of globalCategories" > 
   <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>{{ category.icon }}</mat-icon>{{ category.name }}
  </button>

    <mat-menu #menu="matMenu">
      <button *ngFor="let subCategory of subCategories[category.id]" mat-menu-item (click)="onCategoryClick(subCategory)">
        <mat-icon>{{ subCategory.icon }}</mat-icon>
        {{ subCategory.name }}
      </button>
    </mat-menu>

</span>

    <span class="example-spacer"></span>
    
    <nav>
     
      <button mat-icon-button *ngIf="!loginService.isLoggedin()" matTooltip="login" (click)="openLoginDialog()">
        <mat-icon>perm_identity</mat-icon>
      </button>
      
        <button mat-button   *ngIf="loginService.isLoggedin()" style="border: 2px solid black;border-radius: 100px;"> 
          <mat-icon >perm_identity</mat-icon>{{userService.currentUser?.prenom}} {{userService.currentUser?.nom}}</button>
       
          <button mat-icon-button *ngIf="!userService.currentUser?.admin" matTooltip="Panier" routerLink="/panier"  >
            <mat-icon [matBadge]="panierService.quantite_total_panier()" [matBadgeHidden]="panierService.quantite_total_panier() < 1" matBadgeColor="warn">add_shopping_cart</mat-icon>
          </button>
          
          <button  mat-icon-button  *ngIf="loginService.isLoggedin()" (click)="loginService.logout()"  matTooltip="logout" routerLink="/accueil"    >
            <mat-icon style="color: rgb(205, 0, 0);" >exit_to_app</mat-icon>
        </button>
        

    </nav>
    
  </mat-toolbar>

<!--
  -->