.example-card {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }


  .mat-card-cvr{
    width: 100%;
    text-align:center;
 }

 .background-div{
    background-color: rgb(185, 102, 102) !important;
 }