
<span *ngIf="product$ | async as produit">

<mat-grid-list cols="2" rowHeight="700px" gutterSize="0px">
  <mat-grid-tile style="border: 3px;" colspan="1" >
    <img [src]="produit.photo" style="height:400px;width:auto; text-align: center; " >
  </mat-grid-tile>


  <mat-grid-tile colspan="1" >


    <mat-card class="example-card mat-elevation-z4" style="width: 400px;" >
      <mat-card-header>
        <mat-card-subtitle>{{ produit.marque }}</mat-card-subtitle>

        <mat-card-title>{{ produit.libelle }}</mat-card-title>
        
      </mat-card-header>
      <mat-divider ></mat-divider>

      <mat-card-content>
         <!--<mat-chip color="primary">
         <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>         </mat-chip>
--> 
        <p>Catégorie: {{ produit.categorie }}</p><br>
        <H6>description:</H6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quo eius nihil fugiat ex veritatis enim deserunt et, aut alias aliquid minus? Unde harum vel dolor rerum eaque tempora assumenda!</p>
        <br><br>

        <h4 style="text-align: end;">{{ produit.prix }} €</h4>


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button  color="primary" style="width: 100%;" (click)="panierService.insert_panier(produit.libelle,produit.prix)">Ajouter au panier</button>
      </mat-card-actions>
  </mat-card>
  
  </mat-grid-tile>



  
</mat-grid-list>

</span>