<mat-card class="example-card mat-elevation-z8" (click)="onCardClick(produit)"  >
    <mat-card-header>
      <mat-card-title>{{ produit.libelle }}</mat-card-title>
      <mat-card-subtitle>{{ produit.marque }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="produit.photo" style="height:150px;width:auto; text-align: center;" >
    <mat-card-content>
      <p>Prix: {{ produit.prix }} €</p>
      <p>Catégorie: {{ produit.categorie }}</p>
    </mat-card-content>
    <mat-card-actions>
     <!--<button mat-button>Ajouter au panier</button>   --> 
        <button mat-mini-fab color="accent" *ngIf="loginService.isLoggedin()"  (click)="onEditBtnClick(produit)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" *ngIf="loginService.isLoggedin()"  (click)="onEditBtnClick(produit)">
            <mat-icon>remove</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>