<h3>Login</h3>

  
  <form [formGroup]="loginform" (ngSubmit)="onFormSubmit()">  
  
          <mat-form-field appearance="outline" style="width: 400px;">
            <input formControlName="login" matInput placeholder="Entrer votre login">
            <mat-label>Login</mat-label>
            <mat-hint>Entrer votre login</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width: 400px;">
            <mat-label>Mot de passe</mat-label>
            <mat-hint>Entrer votre Mot de passe</mat-hint>
            <input formControlName="password" matInput placeholder="Entrer votre Mot de passe" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <br>
  
          <!-- Show error message if there is one -->
          <div *ngIf="errorMessage" class="error-message" style="color:red;">
            {{ errorMessage }}
          </div>
  
          <!-- Show success message if there is one -->
          <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
          </div>
  
        
  
          <button mat-raised-button color="primary" type="submit"> Login</button>
  
       
  </form>
  
