
<div class="header">
  <div class="container">
    <div class="navbar">


    </div>
    <div class="row">
      <div class="col-2">
        <h1>Découvrez la technologie de pointe pour tous vos besoins high-tech</h1>
        <p>
          Notre boutique en ligne propose une vaste sélection de produits high-tech de qualité supérieure à des prix compétitifs.
        </p>
        <a href="" class="btn">Explorez Maitenant &#8594; </a>
      </div>
      <div class="col-2">
        <img src="assets/img/homeImages/image1.png" />
      </div>
    </div>
  </div>
</div>

<!-- Featured Categories -->



<!-- Featured Products -->

<div class="small-container">
  <h2 class="title">Nous offrons ces produits</h2>
  <div class="row">
    <div class="col-4" style="margin-right: 50px;">
      <img src="assets/img/homeImages/product-1.jpg" width="300" height="300" />
      <h4><div Align=Center>  <b> Téléphonie </b></div></h4>
    
    </div>
    <div class="col-4" style="margin-left: 70px;">
      <img src="assets/img/homeImages/product-2.jpg" width="300" height="300" />
      <h4><div Align=Center>  <b> Ordinateur </b></div></h4>

    </div>
    <div class="col-4" style="margin-left: 90px;">
      <img src="assets/img/homeImages/product-3.jpg" width="300" height="300" />
      <h4><div Align=Center>  <b> Stockage </b></div></h4>

    </div>

  </div>

  <div class="row">

    
    <div class="row">

     
    </div>
  </div>
</div>

<!--Offer -->

<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img src="assets/img/homeImages/exclusive.png" width="300" height="400"
        />
      </div>
      <div class="col-2">
        <p>Exclusivement disponible sur High-tech </p>
        <h1>Smart watch </h1>
        <small
          >L'Apple Watch est une montre intelligente élégante qui vous permet de rester connecté, de suivre vos activités quotidiennes et de surveiller votre santé, le tout depuis votre poignet. Avec une grande variété de fonctionnalités personnalisables, l'Apple Watch est l'accessoire idéal </small
        >
        <a href="" class="btn">Acheter Maitenant &#8594;</a>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials -->

<div class="testimonial">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          Je suis très content de cette application ecommerce de high-tech. Elle propose une grande variété de produits high-tech de qualité supérieure à des prix très raisonnables. L'interface est très intuitive et facile à utiliser, ce qui rend la navigation très agréable. La livraison est également très rapide et le service client est très réactif. Je recommande vivement cette application à tous les passionnés de high-tech !
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <img src="assets/img/homeImages/user-1.png" alt="human face" />
        <h3>Grace Cho</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          Je suis un utilisateur régulier de cette application ecommerce de high-tech et je dois dire que je suis impressionné par sa qualité. Les produits proposés sont de haute qualité et le processus de commande est très facile à suivre. De plus, les prix sont très compétitifs par rapport aux autres sites de vente en ligne. Je recommande vivement cette application à tous les amateurs de high-tech !
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <img src="assets/img/homeImages/user-2.png" alt="human face" />
        <h3>Frank Garett</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          Je suis très satisfait de cette application ecommerce de high-tech ! Elle est très bien conçue et facile à utiliser. J'aime particulièrement la fonction de recherche qui permet de trouver rapidement les produits que je cherche. De plus, la livraison est rapide et le service client est très réactif en cas de problème. Je recommande vivement cette application !
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <img src="assets/img/homeImages/user-3.png" alt="human face" />
        <h3>Charolette Rue</h3>
      </div>
    </div>
  </div>
</div>


